/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 févr. 2023, 16:15:08
    Author     : BAPTISTE.DELHAYE
*/

body{
    background-color: black;
}

h1{
    color: orange;
    font-family: French Script MT;
    font-size: 30px;
    margin-left: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #444;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111
}

iframe{
   display: block;
    margin-right: auto;
    margin-left: auto;
}

.imghaut {
   position:absolute;
  top:0px;
  right:0px;
}
 
table, th, td {
    color: orange;
  border: orange 1px solid;
  border-collapse: collapse;
  padding: 15px;
}
th{
    text-align: center;
    color: gray;
}
table{
   width: 100%;
}
